{% extends "registration/base.html" %}

{% block title %}
{{block.super}} - Login
{% endblock %}

{% block contents %}
<div class="post">
<div class="floatdiv">

{% if user.is_authenticated %}
<div class="message">
<h3>
    You are already logged in. <a href="{% url logout %}">Logout?</a>
</h3>
</div>
{% else %}

<div class="password">
    <div class="box_border_collapsed">
      <div class="box_header">
    		Login
      </div>	
    <div class="box_content_collapsed">
			
			<div class="createcontent">
				<form method="post" action=".">

    		  {{form.as_p}}
   			  <input type="hidden" name="next" value="{{ next }}" />
   			  <input type="submit" name="Login" value="login" />
 				</form>
			</div>
			<a href="/register/">Sign Up</a>
			<a href="{% url reset_password %}">Forgot password</a>
		</div>
		</div>
</div>					
{% endif %}
</div>

</div>
{% endblock %}
