<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>
{% block title %}
{% endblock %}
</title>
<script language="JavaScript" type="text/javascript" src="/site_media/js/jquery.js">
<!--

//-->
</script>
<script language="JavaScript" type="text/javascript" src="/site_media/js/jquery.forms.js">
<!--

//-->
</script>
<script language="JavaScript" type="text/javascript" src="/site_media/js/jquery.tabs.js">
<!--

//-->
</script>
<script language="JavaScript" type="text/javascript">

<!--
{% if user.is_authenticated %}
var logged_in = true;
{% else %}
var logged_in = false;
{% endif %}
{% if access %}
var access = '{{access}}';
{% else %}
var access = false;
{% endif %}
//-->
</script>

{% block jqueryarea %}
<script language="JavaScript" type="text/javascript" src="/site_media/js/voting.js">
<!--
//-->
</script>
<script language="JavaScript" type="text/javascript" src="/site_media/js/main.js">
<!--
//-->
</script>


{% endblock %}

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="/site_media/style.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="/site_media/ie-style.css" />
<![endif]-->
<!--[if lt IE 8]><style>
.outer, .wide, h2, .wrapper, .minwidth {
	_height: 0;
	zoom: 1;
}
/* rimuove complicazione per Gecko 1.7- */
.right {
	margin-right: 0;
}
</style><![endif]-->
</head>
<body>

<div class="minwidth"><div class="wrapper">

	<div class="header">
		
		<a href="/" class="logo"><img src="/site_media/images/logo.jpg" alt="" height="128" width="273" /></a>
		
		{% block nav %}
		<ul class="nav">
		  {% if topic %}
			<li><a href="{{topic.get_absolute_url}}">hot</a></li>
			<li><a href="{{topic.new_url}}">new</a></li>
			{% else %}
			<li><a href="/">hot</a></li>
			<li><a href="/new/">new</a></li>			
			{% endif %}
			<li><a href="/recommended/">recommended</a></li>
			{% if topic %}
			<li><a href="{{topic.about_url}}">about</a></li>
			{% else %}
			<li><a href="/about/">about</a></li>
			{% endif %}
		</ul>
		{% endblock %}
		
		<div class="top-right">
		{% block topbar %}
			<p>
				{% if user.is_authenticated %}
				Howdy <a href="/user/{{user.username}}/">{{user.username}}</a>
				| <a href="/logout/">logout</a>
				{% else %}
				<a href="/register/">want to join?</a> register in seconds 
				{% endif %}
				| <a href="{% url createtopic %}">create</a>
				{% if topic %}
				| <a href="{{topic.submit_url}}">submit</a>
				{% endif %} 
				| <a href="/help/">help</a> | <a href="/blog/">blog</a>
			</p>
		{% endblock %}
		</div>
		
		<form action="#">
			<input type="text" />
			<input type="submit" class="submit" value="Search" />
		</form>
		
	</div>

	<div class="outer">

		<div class="center"><div class="incenter">
		
		{% block contents %}			
		{% endblock %}
		</div></div> <!-- end center div -->

		<div class="right"><div class="inright">
		
		{% block sidebar %}
		{% if not user.is_authenticated %}
		<form class="login" method="post" action="/login/">
			
				<!--[if lte IE 7]>
				<br />
				<![endif]-->
			
				<label>Username</label>
				<label>Password</label>
				
				<input type="text" name="username" />
				<input type="password" name="password" />

				
				<div class="clear"></div>
				
				<input type="submit" class="submit" value="login" />
				<input type="hidden" name="next" value="" />
				
				<div class="clear"></div>
				
			</form>		
		{% endif %}
		{% endblock %}
		</div></div> <!-- end right div -->

		<br class="clear" />
		<!--[if IE 8]><div class="clear"></div><![endif]-->
	</div> <!-- end outer div -->

	<div class="footer">
		
		<ul class="nav">
			<li><a href="#">feedback</a>|</li>
			<li><a href="#">bookmarklets</a>|</li>
			<li><a href="#">buttons</a>|</li>
			<li><a href="#">widget</a>|</li>
			<li><a href="#">store</a>|</li>
			<li><a href="#">advertiseinnocuous</a></li>
		</ul>
		
		<p><a href="#">wired WIRED.com</a> - <a href="#">WIRED How-To</a></p>
		
		<p class="copyright">Use of this site constitutes acceptance of our User Agreement and Privacy Policy(c) 2008 CondeNet, Inc. All rights reserved.</p>
		
	</div>

</div></div>

</body>
</html>