{% load markup %}
 <div class="left">
    {% if comment.liked %}
     <a href="{{comment.upvote_url}}" class="comvote arrow upmod" id='upcomment-{{comment.id}}'></a>
    {% else %}
     <a href="{{comment.upvote_url}}" class="comvote arrow up" id='upcomment-{{comment.id}}'></a>
    {% endif %}
    {% if comment.disliked %}
     <a href="{{comment.downvote_url}}" class="comvote arrow downmod" id='downcomment-{{comment.id}}'></a>
    {% else %}
     <a href="{{comment.downvote_url}}" class="comvote arrow down" id='downcomment-{{comment.id}}'></a>
    {% endif %}
    </div>
		<a href="/user/{{comment.user.username}}/" class="title">{{comment.user.username}}</a> on {{comment.humanized_time}} <span id="compoints-{{comment.id}}">{{comment.points}}</span> points <a href="#" class="collapse">[+]</a>
    {{comment.comment_text|textile}}
		<p class="links">
		<a href="{% url comment_detail topic.name,comment.id %}">permalink</a>
		{% if not link %}
		<a href="/{{topic.name}}/{{comment.link.id}}/">context</a>
		{% endif %}
		<a href="#" class="reply">reply</a>
		</p>
    <form action="./?ajax=1" method="post" class="commentreply">
    {{comment.get_subcomment_form.as_p}}
    <input type="submit" name="subcomment" value="Comment" />
    </form>		
		<div id="child-{{comment.id}}"></div>
		<div class="clear"></div>