{% extends 'news/base.html' %}

{% block title %}
{% endblock %}


{% block contents %}
<div class="post">
<form action="." method="post" class="new-topic">
        <div class="contactform">
        {{form.as_p}}
        <input type="submit" name="createtopic" class="generic" value="create a new topic" />
        </div>    
			</form>     
</div>

 
{% endblock %}

{% block sidebar %}
	 <div class="oneblock">
			<div class="box hot">
				<h3>Create a topic</h3>
		</div>

</div>			
{% endblock %}