				<li>
					<div class="left" id="vote-{{obj.link.id}}">
            {% if obj.liked %}
             <a href="/up/{{obj.link.id}}/" class="vote arrow upmod" id='up-{{obj.link.id}}'></a>
            {% else %}
             <a href="/up/{{obj.link.id}}/" class="vote arrow up" id='up-{{obj.link.id}}'></a>
            {% endif %}
            {% if obj.disliked %}
             <a href="/down/{{obj.link.id}}/" class="vote arrow downmod" id='down-{{obj.link.id}}'></a>
            {% else %}
             <a href="/down/{{obj.link.id}}/" class="vote arrow down" id='down-{{obj.link.id}}'></a>
            {% endif %}
					</div>
					<a href="{{obj.link.url}}" class="title">{{obj.link.text}}</a>
					<p class="tags">
					{% if not topic %}
					<span class="topic">[<a href="{{obj.link.topic.get_absolute_url}}">{{obj.link.topic.name}}</a>]</span>
					{% endif %}
					[{{obj.link.site}}]
					</p>
					<p class="details">
					<span id="points-{{obj.link.id}}">
  					{{obj.link.visible_points}}</span> points posted  {{obj.link.humanized_time}}. <a href="{{obj.link.get_absolute_url}}">{{obj.link.comment_count}} Comments.</a> By <a href="/user/{{obj.link.user}}/">{{obj.link.user}}</a>.
            {% if obj.saved %}
            saved
            {% else %}
            <a href="{{obj.link.save_url}}" class="saved">save</a>
            {% endif %}
					</p>
					<div class="clear"></div>
				</li>
