<div class="linkwrap">
<div class="midcol" id="vote-{{link.id}}">
{% if link.liked %}
 <a href="/up/{{link.id}}/" class="vote arrow upmod" id='up-{{link.id}}'></a>
{% else %}
 <a href="/up/{{link.id}}/" class="vote arrow up" id='up-{{link.id}}'></a>
{% endif %}
{% if link.disliked %}
 <a href="/down/{{link.id}}/" class="vote arrow downmod" id='down-{{link.id}}'></a>
{% else %}
 <a href="/down/{{link.id}}/" class="vote arrow down" id='down-{{link.id}}'></a>
{% endif %}
</div>

<div class="linkheader">
<a href="{{link.url}}">{{link.text}}</a><span class="site">[{{link.site}}]</span>
{% if not topic %}
<span class="topic">[<a href="{{link.topic.get_absolute_url}}">{{link.topic.name}}</a>]</span>
{% endif %}
<div class="details">
<span id="points-{{link.id}}">{{link.visible_points}}</span> points posted  {{link.humanized_time}}. <a href="{{link.get_absolute_url}}">{{link.comment_count}} Comments.</a> By <a href="/user/{{link.user}}/">{{link.user}}</a>.
{% if link.saved %}
saved
{% else %}
<a href="{{link.save_url}}" class="saved">save</a>
{% endif %}
</div>
</div>
</div>
<br />