{% extends 'news/base.html' %}

{% load mptt_tags %}

{% block jqueryarea %}
<script language="JavaScript" type="text/javascript" src="/site_media/js/voting.js">
<!--
//-->
</script>
<script language="JavaScript" type="text/javascript" src="/site_media/js/main.js">
<!--
//-->
</script>


{% endblock %}


{% block contents %}
<div class="post">
<ul class="hot">
{% include 'news/link_row.html' %}
</ul>

		 {% include 'news/link_details_menu.html' %}

      {% if user.is_authenticated %}
      <div class="commentform">
      <form action="." method="post" id="commentform" class="new-comment">
      <div>
      {{form.as_p}}
      <input type="submit" name="comment" value="comment" />
      </div>
      </form>
      </div>
			{% endif %}
<a name="comments"></a>

<div id="comments">				
{% if comments %}
{% for comment, structure in comments|tree_info %}
{% if structure.new_level %}
<ul class="comments"><li>
{% else %}
</li><li>{% endif %}
   {% include 'news/comment_row.html' %}
{% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}
{% else %}

<div class="nocomment">
There are no comments on this story, yet.
</div>
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block sidebar %}
	 		{{ block.super }}
	 		<div class="box others">
				<h3>Tags</h3>
        <form action="." method="post" id="tagform">
        {{tag_form.as_p}}
        <input type="submit" name="taglink" value="taglink" />
        </form>			
        <ul id="tags">
        {% for tag in link.linktag_set.get_topic_tags %}
        <li>
        <a href="{{tag.tag.get_absolute_url}}">{{tag.tag.text}}</a>
        </li>
        {% endfor %}
        </ul>
			</div>

						
			{% if topic %}
			<div class="box hot">
			<h3>{{topic.name}}</h3>
			</div>
			{% endif %}
			
{% endblock %}