{% extends 'news/base.html' %}

{% block title %}

{% endblock %}


{% block contents %}

<ul class="hot">
{% for link in links %}
{% include 'news/link_row.html' %}
{% endfor %}
</ul>

{% include 'news/pagination.html' %}

{% endblock %}

{% block sidebar %}
	 		{{ block.super }}
			{% include 'news/subscribed_topics.html' %}
	 		<div class="box others">
				<h3>Tags</h3>
				
				<ul>
					{% for tag in tags %}
					<li><a href="{{tag.get_absolute_url}}">{{tag.text}}</a></li>
					{% endfor %}
				</ul>
			</div>
			
			{% include 'news/topic_list_sidebar.html' %}
			
{% endblock %}