{% extends 'news/base.html' %}

{% block title %}
{{suer.username}} - {{block.super}}
{% endblock %}


{% block contents %}
{% if objects %}
<ul class="hot">
{% for obj in objects %}
{% include 'news/link_row_wrapped.html' %}
{% endfor %}
</ul>
{% else %}
<div class="post">
There are no links here. Ah well! <a href="http://www.42topics.com/forum/topic/1">Can we help?</a>
</div>
{% endif %}

{% include 'news/pagination.html' %}

{% endblock %}

{% block sidebar %}
	 	<div class="box singlecol">
				<h3>Actions</h3>
        <ul>
        <li><a href="/user/{{username}}/"></a>  Links</li>
				<li><a href="/user/{{user.username}}/comments/">Comments</a></li>
				<li><a href="{% url liked_links %}">Liked</a>  </li>
				<li><a href="{% url disliked_links %}">Disliked</a>  </li>
				<li><a href="{% url saved_links %}">Saved</a>  </li>	
        </ul>
			</div>
			
			<div class="box hot">
			<h3>
			{{user.username}}
			</h3>
			</div>
			
{% endblock %}