{% load url from future %}
			{% if user.is_authenticated %}
	 		<div class="box others subscribed block">
				<h3>Subscribed Topic </h3> 
				{% if subscriptions %}
				<ul>
				{% for subs in subscriptions %}
					<li><a href="{{subs.topic.get_absolute_url}}" class="unselected">{{subs.topic.name}}</a></li>
				{% endfor %}
				</ul>
				{% else %}
				<div class="message">
				   You are not subscribed to any topic.<a href="{% url 'topic_list' %}"> See some?</a>
				</div>
				{% endif %}
				
				<div class="clear"></div>
				<div class="sub_edit">
				<a href="{% url 'user_manage' %}" class="edit_action">Edit</a>
				</div>
			</div>
			{% endif %}