{% extends 'news/base.html' %}

{% block jqueryarea %}
{{block.super}}

{% endblock %}

{% block tabs %}
<ul class="tabs">
<li>
Howdy {{user.username}}
</li>
<li>
<a href="{{topic.get_absolute_url}}">{{topic.name}}</a>
</li>
<li>
<a href="/recommended/">recommended</a>
</li>
<li><a href="{{topic.submit_url}}">Submit Link</a></li>
</ul>
{% endblock %}

{% block contents %}
<ul class="hot">
{% for link in links %}
{% include 'news/link_row.html' %}
{% endfor %}
</ul>

{% endblock %}

{% block sidebar %}
	 		{{ block.super }}
	 		{% include 'news/subscribed_topics.html' %}

	 		{% include 'news/tags.html' %}

	 		<div class="box singlecol">
				<h3>Meta</h3>
			<ul>
      <li>
					<a href="{{topic.about_url}}">About</a>
			</li>
			<li>
			{% if subscribed %}
			<a href="{{topic.unsubscribe_url}}" class="unsubscribe">Unsubscribe</a>
			{% else %}
			<a href="{{topic.subscribe_url}}" class="subscribe">Subscribe</a>
			{% endif %}
			</li>
			</ul>
			</div>
			
		  <div class="box hot">
			
			</div>
			
			{% if topic %}
			<div class="box hot">
				<a><span>{{ topic.name }}</span></a>
			</div>
			{% endif %}

{% endblock %}