{% extends 'news/base.html' %}

{% block title %}
{{user.username}}
{% endblock %}


{% block contents %}
<div class="post">
    
    <table>
    <tbody>
    {% for sub in subs %}
    <tr>
    <td>
    {{sub.topic.name}}
    </td>
    <td>
    {% if sub.is_creator %}
    Owner
    {% else %}
    {% with sub.topic as topic %}
    <a href="{{topic.unsubscribe_url}}" class="unsubscribe">Unsubscribe</a>
    {% endwith %}
    {% endif %}
    </td>
    </tr>
    {% endfor %}
    
    </tbody>
    </table>
</div>
{% endblock %}

{% block sidebar %}
	 <div class="oneblock">
			<div class="box hot">
				<h3>Subscribed topics</h3>
		</div>

		</div>	
{% endblock %}