{% extends 'registration/base.html' %}

{% block title %}
Register - {{block.super}}
{% endblock %}

{% block contents %}
<div class="post">
<div class="registerdiv">

<form action="." method="post">
<fieldset>
<legend>
Register
</legend>
<div class="form">
{{form.as_p}}
<input type="submit" name="register" value="register" />
</div>
</fieldset>
</form>
</div>

<div class="logindiv">

<form action="/login/" method="post">
<fieldset>
<legend>
Login
</legend>
<div class="form">
{{loginform.as_p}}
<input type="submit" name="login" value="login" />
</div>
</fieldset>
</form>
</div>
</div>

{% endblock %}