{% extends 'news/base.html' %}

{% block contents %}
<div class="post">
42Topics.com is a place where you can find stories which <strong>you</strong> would like to read. On 
42Topics.com you can create topics about things, about which you are passionate. You can share links which <strong>you</strong> would find interesting.

We keep track of things which you will find interesting, and suggest similar stories. So submit stories which you would like,
vote on stories which you like, and enjoy stories which we suggest. We are sure you will like them.
</div>
{% endblock %}