<div class="story" >
  <div class="ratings" id="vote-{{link.id}}">
    {% if link.can_vote or not user.is_authenticated %}
      {% if link.liked %}
        <a href="/up/{{link.id}}/" class="vote arrow upmod" id='up-{{link.id}}'></a>
      {% else %}
        <a href="/up/{{link.id}}/" class="vote arrow up" id='up-{{link.id}}'></a>
      {% endif %}
      
      {% if link.disliked %}
        <a href="/down/{{link.id}}/" class="vote arrow downmod" id='down-{{link.id}}'></a>
      {% else %}
        <a href="/down/{{link.id}}/" class="vote arrow down" id='down-{{link.id}}'></a>
      {% endif %}
    {% endif %}
  </div>
  
  <p>
    <a href="{{ link.get_absolute_url }}" class="title">{{ link.summary }}</a>
    {% if not topic %}
      <span class="topic tags">[<a href="{{link.topic.get_absolute_url}}">{{link.topic.name}}</a>]</span>
    {% endif %}
    [{{ link.site }}]
  </p>
  
  <p class="details postinfo">
    <span id="points-{{link.id}}">{{link.visible_points}}</span> points posted  {{link.humanized_time}}.  
    <a href='{{ link.url }}'>more</a>
    <a href="{{link.get_absolute_url}}">{{link.comment_count}} Comments.</a> By <a href="/user/{{link.user}}/">{{link.user}}</a>.
    {% if link.saved %}
      saved
    {% else %}
      <a href="{{ link.save_url }}" class="saved">save</a>
    {% endif %}
  </p>
</div>
<div class="clear"></div>	