{% extends 'news/base.html' %}

{% block title %}
Search - {{block.super}}
{% endblock %}

{% block contents %}
<div class="post">
<div id="searchbox">
<form action="." method="get">
<input type="text" name="q" size=80 value = "{{ query_term }}" />
<input type="submit" value="search" />
</form>
</div>
{% if results %}

<div id="searchdetails">
{{ start }} to {{ end }} of {{ results_data.totalResultsAvailable }} results available for {{ query_term }} 
{% if next_page_url %}
<a href="{{ next_page_url }}">next</a>
{% endif %}
{% if prev_page_url %}
<a href="{{ prev_page_url }}">previous</a>
{% endif %}
</div>

<ul>
{% for result in results %}
<li>
<h3><a href="{{ result.ClickUrl }}">{{ result.Title }}</a></h3>
<p>{{ result.Summary }}</p>
<a href="{{result.ClickUrl}}">{{result.Url}}</a> 
<a href="{{result.Cache.Url}}">Cached</a>
</li>
{% endfor %}
</ul>
<div id="searchdetails-footer">
{{ start }} to {{ end }} of {{ results_data.totalResultsAvailable }} results available for {{ query_term }} 
{% if next_page_url %}
<a href="{{ next_page_url }}">next</a>
{% endif %}
{% if prev_page_url %}
<a href="{{ prev_page_url }}">previous</a>
{% endif %}
</div>
<div id="searchbox-footer">
<form action="." method="get">
<input type="text" name="q" size=80 value = "{{ query_term }}" />
<input type="submit" value="search" />
</form>
</div>
{% endif %}
</div>
{% endblock %}
