{% extends 'news/base.html' %}

{% load url from future %}


{% block title %}
{{pageuser.username}} - {{block.super}}
{% endblock %}


{% block contents %}
{% if links %}

{% for link in links %}
{% include 'news/link_row.html' %}
{% endfor %}

{% else %}
<div class="post">
There are no links here. Ah well!
</div>
{% endif %}

{% include 'news/pagination.html' %}

{% endblock %}

{% block sidebar %}
    {{block.super}}
		<div class="clear"></div>

<div class="actions row">		
	 	<div class="box others">
				<h3>Actions</h3>
        <ul>
        <li>Links</li>
				<li><a href="/user/{{pageuser.username}}/comments/">Comments</a></li>
				{% ifequal user pageuser %}
				<li><a href="{% url 'liked_links' %}">Liked</a>  </li>
				<li><a href="{% url 'disliked_links' %}">Disliked</a>  </li>
				<li><a href="{% url 'saved_links' %}">Saved</a>  </li>				
				{% endifequal %}
        </ul>
			</div>
</div>			
{% endblock %}