<!DOCTYPE html PUBLIC
"-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Rsstechnet</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="ie-style.css" />
<![endif]-->
<!--[if lt IE 8]><style>
.outer, .wide, h2, .wrapper, .minwidth {
	_height: 0;
	zoom: 1;
}
/* rimuove complicazione per Gecko 1.7- */
.right {
	margin-right: 0;
}
</style><![endif]-->
</head>
<body>

<div class="minwidth"><div class="wrapper">

	<div class="header">
		
		<a href="#" class="logo"><img src="images/logo.jpg" alt="" height="128" width="273" /></a>
		
		<ul class="nav">
			<li><a href="#">hot</a></li>
			<li><a href="#">new</a></li>
			<li><a href="#">browse</a></li>
			<li><a href="#">stats</a></li>
		</ul>
		
		<div class="top-right">
			<p>
				<a href="#">want to join?</a> register in seconds | <a href="#">submit</a> | <a href="#">help</a> | <a href="#">blog</a>
			</p>
		</div>
		
		<form action="#">
			<input type="text" />
			<input type="submit" class="submit" value="Search" />
		</form>
		
	</div>

	<div class="outer">

		<div class="center"><div class="incenter">
			
			<div class="post">
				<div class="left">
					<a href="#" class="up"></a>
					<a href="#" class="down"></a>
				</div>
				<a href="#" class="title">The Pope has a pretty badass background [PIC]</a>
				<p class="tags">[pics] (ectomo.com)</p>
				<p class="details">226 points posted 7 hours ago by jpzanettie 161 comments</p>
				<div class="clear"></div>
				
				<ul class="menu">
					<li><a href="#">info</a></li>
					<li><a href="#">comments</a></li>
					<li><a href="#">related</a></li>
					<li><a href="#">details</a></li>
				</ul>
				
				<form action="#" class="new-comment">
					<label>Comment</label>
					
					<textarea rows="10" cols="50"></textarea>
					
					<input type="submit" value="Submit" />
				</form>
				
				<ul class="comments">
					<li>
						<div class="left">
							<a href="#" class="up"></a>
							<a href="#" class="down"></a>
						</div>
						<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
						<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
						<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
						<div class="clear"></div>
						
						<ul class="comments">
							<li>
								<div class="left">
									<a href="#" class="up"></a>
									<a href="#" class="down"></a>
								</div>
								<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
								<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
								<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
								<div class="clear"></div>
							</li>
						</ul>
					</li>
					<li>
						<div class="left">
							<a href="#" class="up"></a>
							<a href="#" class="down"></a>
						</div>
						<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
						<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
						<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
						<div class="clear"></div>
					</li>
					<li>
						<div class="left">
							<a href="#" class="up"></a>
							<a href="#" class="down"></a>
						</div>
						<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
						<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
						<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
						<div class="clear"></div>
						
						<ul class="comments">
							<li>
								<div class="left">
									<a href="#" class="up"></a>
									<a href="#" class="down"></a>
								</div>
								<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
								<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
								<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
								<div class="clear"></div>
								
								<ul class="comments">
									<li>
										<div class="left">
											<a href="#" class="up"></a>
											<a href="#" class="down"></a>
										</div>
										<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
										<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
										<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
										<div class="clear"></div>
									</li>
									<li>
										<div class="left">
											<a href="#" class="up"></a>
											<a href="#" class="down"></a>
										</div>
										<a href="#" class="title">Snoron</a> 27 points 3 days ago [-]
										<p class="comment">Oh man, if they're so bothered about overhead from calling functions then why are they even using python?</p>
										<p class="links"><a href="#">permalink</a> | <a href="#">reply</a></p>
										<div class="clear"></div>
									</li>
								</ul>
							</li>						
						</ul>
					</li>
				</ul>
				
			</div>
				
		</div></div> <!-- end center div -->

		<div class="right"><div class="inright">

			<form class="login" action="#">
			
				<!--[if lte IE 7]>
				<br />
				<![endif]-->
			
				<label>Username</label>
				<label>Password</label>
				
				<input type="text" />
				<input type="password" />
				
				<div class="clear"></div>
				
				<input type="submit" class="submit" value="Submit" />
				
				<div class="clear"></div>
				
			</form>
			
			<div class="box other-reddits">
				<h3><span>other</span> reddits</h3>
				
				<ul>
					<li>*<a href="#">reddit.com</a></li>
					<li>*<a href="#">pics</a></li>
					<li>*<a href="#">science</a></li>
					<li>*<a href="#">worldnews</a></li>
					<li>*<a href="#">politics</a></li>
					<li>*<a href="#">programming</a></li>
					<li>*<a href="#">business</a></li>
					<li>*<a href="#">funny</a></li>
				</ul>
			</div>
			
			<div class="box hot">
				<a><span>Hot</span> articles</a>
			</div>
		
		</div></div> <!-- end right div -->

		<br class="clear" />
		<!--[if IE 8]><div class="clear"></div><![endif]-->
	</div> <!-- end outer div -->

	<div class="footer">
		
		<ul class="nav">
			<li><a href="#">feedback</a>|</li>
			<li><a href="#">bookmarklets</a>|</li>
			<li><a href="#">buttons</a>|</li>
			<li><a href="#">widget</a>|</li>
			<li><a href="#">store</a>|</li>
			<li><a href="#">advertiseinnocuous</a></li>
		</ul>
		
		<p><a href="#">wired WIRED.com</a> - <a href="#">WIRED How-To</a></p>
		
		<p class="copyright">Use of this site constitutes acceptance of our User Agreement and Privacy Policy(c) 2008 CondeNet, Inc. All rights reserved.</p>
		
	</div>

</div></div>

</body>
</html>