/*------------------------------common styles--------------------------------------*/
html,body {margin:0;padding:0}
a {text-decoration: none;}
a {
   color: #79ac37;
}
img{border: 0px none;}
body,div,p {font-family: "Trebuchet MS"; font-size: 12px;}
p{margin : 0px; line-height: 18px;}
form
{
	margin: 0px;
	padding: 0px;
}
.clear
{
	clear: both;
	height: 1px;
}
.underlined
{
	text-decoration: underline;
}
.uppercase
{
	text-transform: uppercase;
}
.green{color: #79ac37;}
.green:hover{color: #fff;}
.white{color: #fff;}
.white:hover{color: #79ac37;}

/*--------------------------------------header part--------------------------------------*/
div#header{position:relative; height:130px; background:#092e20;}

/** "register now" links **/
#register
{
	height:20px; text-align: right;
	padding-right: 10px;
	color: #fff;
}

/** the logo **/
div#logodiv
{
	height: 75px; 
	padding-left: 34px;
}

/** navigation **/
div#hornavi{height: 34px; background: #79ac37; border-bottom: 1px solid #629926;}
#navi
{
	width: 654px;
	float: left;
	padding: 7px 0px 0px 10px;
}
#navi a
{
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	display: block;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
#navi .commonbgr:hover
{
	background: url('/site_media/images/bgr_common.gif') center no-repeat;
}
#navi .active
{
	background: url('/site_media/images/bgr_common.gif') center no-repeat;
}

#navi .recactive
{
	background: url('/site_media/images/bgr_recommended.gif') center no-repeat;
}
#navi .recommendedbgr:hover
{
	background: url('/site_media/images/bgr_recommended.gif') center no-repeat;
}

/**search**/
#search
{
	float: left;
	padding-top:3px;
}

#search input
{
	vertical-align: top;
}

#inputkeywords
{
	width: 205px;
	height: 19px;	
}

/*--------------------------------------footer--------------------------------------*/
div#footer{height: 60px; clear:both;width:100%}

/** footer paging - bad naming convention**/
#footernavigation{height: 70px;}
#footernavigation p{text-align: center;}
#footernavigation p a
{
	border: 1px solid #e2e2e2;
	text-decoration: none;
	padding: 2px 7px;
	margin-right: 3px;
	color: #092e20;
}
#footernavigation p a:hover
{
	background: #cde2b2;
}
#footerline{background: #79ac37; height: 6px;}

/** copyright box **/
#copyrightbox
{	
	background: #092e20; 
	height: 44px;	
	padding-top: 12px;
	padding-right: 14px;
}
#copyrightbox p
{
	text-align: right; 
	font-size: 11px;
	color: #fff;
	line-height: 16px;
}


div#container{border: 1px solid #092e20;width:950px;margin:0 auto}

div#extra{background:#FF8539}


/*-----------------------------------the content----------------------------------*/
#content
{
	float:left; width:600px;
	background: #fff url('/site_media/images/left_bgr.jpg') top repeat-x;
	padding: 18px 10px 20px 10px;
}
#content div
{
	margin-bottom: 10px;
}
.ratings
{
	width: 17px;
	float: left;
	height: 40px;
	margin-right: 10px;
}
.ratings .up
{
	background: url('/site_media/images/up.jpg') no-repeat;
	display: block;
	width: 17px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.ratings .upmod
{
	background: url('/site_media/images/upmod.jpg') no-repeat;
	display: block;
	width: 17px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.ratings .down
{
	background: url('/site_media/images/down.jpg') no-repeat;
	display: block;
	width: 17px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}
.ratings .downmod
{
	background: url('/site_media/images/downmod.jpg') no-repeat;
	display: block;
	width: 17px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}
.postinfo a
{
	color: #393c3a;
}
.postinfo a:hover
{
	color: #79ac37;
}
.story .title
{
	font-size: 16px;
	font-weight: bold;
	color: #092e20;
}
.story .title:hover
{
	color: #79ac37;
}
.story .postinfo
{
	color: #393c3a;
	font-size: 12px;
}
.tags
{
	color: #393c3a;
	font-size: 13px;
	font-weight: normal;
}


/*--------------------------------------side bar--------------------------------------*/
div#sidebar
{
	float:right; 
	width:330px; 
	background: #234f32 url('/site_media/images/sidebar_bgr.jpg') top repeat-x; 
	padding-bottom: 3px;
}
#sidebartop
{
	height: 20px;
	background:url('/site_media/images/sidebar_bgr.jpg') top repeat-x; 	
}
#sidebar .box
{
	
	padding: 10px 12px 7px 10px;
}
#sidebar .box p, #sidebar .box label, #sidebar .box td{color:#fff}
#loginbox
{
	/*height:51px; */
}
#loginbox label
{
	float:left;margin:0pt 0pt 0pt 4px; width:146px;
}
#loginbox input[type=text], #loginbox input[type=password]
{
	float:left;margin:0pt 0pt 0pt 3px; width:145px;
}
#logintext
{
	font-size:15px; border-bottom:1px solid #79ac37;
}
/*#mytopicsbox{height:71px; }*/
#mytopicsbox td
{
	text-transform: uppercase;
	padding-bottom: 8px;
	width: 33%;
}
#mytopicsbox .selected
{
	padding-left: 15px;
	background: url('/site_media/images/selected.jpg') left no-repeat;
	font-size: 15px;
	font-weight: bold;
}
#mytopicsbox .unselected
{
	padding-left: 15px;
}
/*#othertopicsbox{height:127px; }*/
#othertopicsbox td
{
	line-height: 21px;
}
#othertopicsbox .topicheader 
{
	width:33%;
	padding-bottom: 8px;
}

.activestory .title
{
	font-size: 16px;
	font-weight: bold;
	color: #092e20;
}
.activestory .title:hover
{
	color: #79ac37;
}
.activestory .postinfo
{
	color: #393c3a;
	font-size: 12px;
}



/*Page2 data*/








#pg2_textarea_holder{
	padding: 18px 18px 5px 18px;
}

#pg2_submit_btn_1
{
	text-align:right; margin:5px 5px 0px 0px; font-size:18px;
	padding-left:20px; background: url('images/arrow_2.gif') bottom left no-repeat;
	color: #234f32;
}

#pg2_submit_btn_2
{
	padding-left:15px; background: url('images/selected.jpg') bottom left no-repeat; font-size:15px;
}

.pg2_textarea
{
	height:117px; width:555px; border: 1px solid #ccc;
}

.tags a
{
	color: #234f32;
}

/*Changes*/
.tags a{
	color: #393c3a;	
}

#sidebar h3{
    text-transform: uppercase;
    color: #79ac37;
}
.box ul{
	list-style: none;
}
.subscribed ul li {float: left;width: 120px;color: #b22222;margin: 0 0 0 1px;}
.subscribed .unselected{
	font-size: 15px;
	font-weight: bold;
	color: white;
}
.topicsbox .row{
	float: left;
	width: 33%;
}
.topicsbox li a, .meta li a, .actions li a{
	font-size: 12px;
	color: white;
}
.topicsbox li a:hover, .meta li a, .actions li a:hover{
	color: #79ac37;
}

#sidebar .topicsbox{
	border-bottom: 1px solid #336033;
}
#comment_border
{
 	border:1px solid #ccc;
}
#comment_header
{
	height:27px;
	background:url('images/comment_bgr_1.gif') repeat-x;
	padding-top:5px;
}
#comment_header ul li a
{
	padding: 0px 30px;
	font-size: 14px;
	color: #fff;
}
#comment_header ul li a:hover
{
	background: url('images/page_2_menu_bgr.gif') center no-repeat;
}
#comment_header ul{
	list-style: none;
	margin-top: 0px;
}
#comment_header ul li{
	display: inline;
}
ul .comments{
	list-style:none;
}
#comments ul{
	list-style:none;
}
a.collapse{
	color: #79ac37;
}
ul#tags li{
	display: inline;
	color: #fff;
	margin: 0 0 0 1px;
}
ul#tags li a{
	padding: 0px 0px;
	font-size: 14px;
	color: #fff;
}

.box_header
{
	height:27px; background:url('images/comment_bgr_1.gif') repeat-x; padding-top:5px;
	padding-left: 10px;
	font-size: 14px;
	color: #fff;
}
.box_border
{
	border:1px solid #ccc;
	width: 600px;
	margin: 0px 0px 10px 10px;
}
.box_content_holder
{
	padding: 18px 18px 20px 18px;
}
.box_content_holder label, label{
	display: block;
	font-weight: bold;
	
}
.help_text{
	display: block;
	font-size: smaller;
}
.pg4_p
{
	color: #234f32;
	font-size: 14px;
	padding-top: 5px;
}

.pg4_submit_btn
{
	text-align:right; margin:5px 5px 0px 0px; font-size:18px;
	padding-left:20px; background: url('images/arrow_2.gif') bottom left no-repeat;
	color: #092e20;
}

.pg4_green
{
	color:#79ac37;
}

.pg4_own
{
	color: #393c3a;
}
#pg4_topbgr
{
	background:url('images/left_bgr.jpg') top left repeat-x; height:20px;
}
.pg4_note
{
	font-size: 12px;
}
.subs_topic{
	width: 50%;
}
ul.comments{
	list-style: none;
	margin: 0px 0px 0px 0px;
	/*padding: 0px 0px 0px 0px;*/
}
.input {
border:1px solid #666;
height:23px;
background:url(images/inputbg.gif) repeat-x;
width:254px;
font-size:13px;
font-family:"trebuchet ms";
padding:2px 0px 0px 2px;
}
.focusfield{ background:url(images/inputselect.gif)}
.active{
    background-color: #dbd1b1; 
}
a.edit_action{
	color: #79ac37;
	font-size: 14px;
	font-weight: bold;
	text-decoration: underline;
}
a.more_action{
	color: #79ac37;
	text-decoration: underline;
}

.block{
	border-bottom: 1px solid #336033;
}

.block ul{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
a.menuactive
{
	background: url('images/page_2_menu_bgr.gif') center no-repeat;
}
a:hover{
	text-decoration: underline;
}
.postinfo a{
	color: #79ac37;
	
}
td a{
	color: #79ac37;
}
.topmessagebox{
	background-color:#CDE2B2;
	width: 95%;
	margin: 10px;
	text-align: center;
	padding: 2px 5px 2px 5px;
	border: 1px solid #092e20;
}
.topmessagebox a{
	color: #092e20;
	font-weight: bold;
	text-decoration: underline;
}
.registerdiv{
	width: 50%;
	float: left
}
.logindiv{
	width: 50%;
	float: left
}
.emptysidebar{
	background: #fff url('/site_media/images/left_bgr.jpg') top repeat-x;
	height: 10px;
}
.box_border_collapsed
{
	border:1px solid #ccc;
	margin: 0px 0px 10px 10px;
}
.box_content_collapsed{
	padding: 5px 5px 3px 10px;
}