* {margin: 0px;padding: 0px;}
body {background: url('images/body-bg.gif') repeat-x top;color: #413e3e;font-family: Arial, Verdana, Sans-Serif;font-size: 14px;font-weight: normal;width: 100%;}
a {color: #b22222;text-decoration: none;}
a:hover{text-decoration: underline;}
a img {border: 0;}

/* WRAPPER STYLES */
.outer {margin-left: 304px;word-wrap: break-word;}
.minwidth {min-width: 979px;}

/* previene allargamento floats (hidden) \*//*/
* html .inright, * html .incenter {width: 100%;overflow: hidden;}
* html .center {margin-left: 0;}
* html .right {margin-right: 1px;}
* html .minwidth {border-left: 979px solid #fff;}
* html .wrapper {margin-left: -979px;}
/**/

/* HEADER STYLES */
.header {height: 128px;width: 100%;background: url('images/body-bg.gif') repeat-x top;}
.header .logo{float: left;}
.header ul.nav{height: 43px;padding: 0;margin: 41px 0 0 0;list-style: none;float: left;}
.header ul.nav li{float: left;}
.header ul.nav li a{font-size: 14px;padding: 14px 0;width: auto;height: 43px;line-height: 43px;color: white;text-decoration: none;}
.header ul.nav li a:hover{background: url('images/nav-hover.gif') no-repeat 50% 100%;}
.header div.top-right{float: right;margin: 10px 5px 0 0;}
.header form{float: right;margin: 3px 15px 0 0;clear: right;width: 230px;}
.header form input{background: url('images/search-bg.gif') no-repeat;margin: 0 3px 0 0;float: left;width: 166px;height: 24px;border: 0;}
.header form input.submit{background: url('images/searchbutton-bg.gif') no-repeat;display: block;cursor: pointer;border: 0;width: 56px;height: 22px;margin: 1px 0 0 3px;float: right;color: #413e3e;}

/* CONTENT STYLES */
.center {float: left;width: 100%;padding: 0 0 30px 0;margin-left: -306px;position: relative;}

.center ul.hot{list-style: none;margin: 20px 10px 0 29px;}
.center ul.hot li{margin: 0;padding: 0;}
.center ul.hot div.left{float: left;margin-right: 5px;width: 22px;height: 60px;position: relative;}
.center ul.hot div.left a{display: block;width: 22px;height: 21px;cursor: pointer;}
.center ul.hot div.left a.up{background: url('images/up.gif') no-repeat;}
.center ul.hot div.left a.up:hover{background: url('images/up-hover.gif') no-repeat;}
.center ul.hot div.left a.down{background: url('images/down.gif') no-repeat;}
.center ul.hot div.left a.down:hover{background: url('images/down-hover.gif') no-repeat;}
.center ul.hot div.left a.upmod{background: url('images/up-hover.gif') no-repeat;}
.center ul.hot div.left a.downmod{background: url('images/down-hover.gif') no-repeat;}
.center ul.hot a.title{color: #b22222;font-size: 1.1em;font-weight: bold;line-height: 1em;margin: 0;}
.center ul.hot p{margin: 0;color: #413e3e;font-size: 12px;}
.center ul.hot p.details{margin: 0;color: #969696;}

.center .post{padding: 20px 20px 10px 20px;}
.center .post div.left{float: left;margin-right: 5px;width: 22px;height: 60px;position: relative;}
.center .post div.left a{display: block;width: 22px;height: 21px;cursor: pointer;}
.center .post div.left a.up{background: url('images/up.gif') no-repeat;}
.center .post div.left a.up:hover{background: url('images/up-hover.gif') no-repeat;}
.center .post div.left a.down{background: url('images/down.gif') no-repeat;}
.center .post div.left a.down:hover{background: url('images/down-hover.gif') no-repeat;}
.center .post div.left a.up{background: url('images/up.gif') no-repeat;}
.center .post div.left a.upmod{background: url('images/up-hover.gif') no-repeat;}
.center .post div.left a.downmod{background: url('images/down-hover.gif') no-repeat;}
.center .post a.title{color: #b22222;font-size: 1.1em;font-weight: bold;line-height: 1em;margin: 0;}
.center .post p{margin: 0;color: #413e3e;font-size: 12px;}
.center .post p.details{margin: 0 0 10px 0;color: #969696;}
.center .post ul.menu{list-style: none;background: #b22222;border-bottom: 4px solid #fdf2df;height: 24px;margin: 10px 0 0 0;}
.center .post ul.menu li{float: left;margin:0;}
.center .post ul.menu li a{display: block;float: left;width: auto;color: white;height: 24px;line-height: 24px;padding: 0 15px;}
.center .post ul.menu li a:hover{background: #fdf2df;color: #413e3e;text-decoration: none;}
.center .post form.new-comment{width: 95.6%;padding: 2%;background: #fcfcfc;border-bottom: 1px solid #d7d7d7;border-left: 1px solid #d7d7d7;border-right: 1px solid #d7d7d7;}
.center .post form.new-comment label{display: block;font-size: 16px;margin: 0 0 10px 0;}
.center .post form.new-comment input{display: block;text-align: center;width: 91px;height: 30px;background: url('images/submit-button.gif') no-repeat;border: 0;color: #413e3e;cursor: pointer;margin: 10px 0 0 335px;}

.center ul.comments{list-style: none;margin: 20px 0 0 0;font-size: 12px;}
.center ul.comments ul.comments{margin: 10px 0 0 29px;}
.center ul.comments li{width: 96%;display: overflow;margin: 0 0 10px 0;padding: 2%;background: #fcfcfc;border: 1px solid #d7d7d7;}
.center ul.comments ul.comments li{border: 0;padding: 0;}
.center ul.comments div.left{float: left;margin-right: 5px;width: 22px;height: 60px;position: relative;}
.center ul.comments div.left a{display: block;width: 22px;height: 21px;cursor: pointer;}
.center ul.comments div.left a.up{background: url('images/up.gif') no-repeat;}
.center ul.comments div.left a.up:hover{background: url('images/up-hover.gif') no-repeat;}
.center ul.comments div.left a.down{background: url('images/down.gif') no-repeat;}
.center ul.comments div.left a.down:hover{background: url('images/down-hover.gif') no-repeat;}
.center ul.comments a.title{color: #b22222;font-size: 12px;font-weight: bold;line-height: 1em;margin: 0;}
.center ul.comments p{margin: 0;color: #413e3e;font-size: 12px;}
.center ul.comments p.links{margin: 0;color: #969696;}
.center ul.comments p.links a{color: #999999;}

.center div.pagination {margin: 30px 0 0 40px;}
.center div.pagination p{margin: 0;display: inline;}
.center div.pagination p.more{color: #b22222;}
.center div.pagination a{color: black;}

/* SIDEBAR STYLES */
.right {float: right;position: relative;top: -33px;width: 304px;margin-right: 2px;}

.right form.login{background: #fafafa;padding: 11px;width: 282px;overflow: hidden;}
.right form label{width: 130px;float: left;margin: 0 0 0 3px;color: #969696;}
.right form input{width: 128px;float: left;margin: 0 0 0 3px;background: white;border: 1px solid #d7d7d7;}
.right form input.submit{display: block;width: 58px;height: 24px;text-align: center;line-height: 24px;clear: both;float: right;margin: 5px 16px 0 0;color: #969696;background: url('images/login-bg.gif') no-repeat;border: 0;}

.right div.box{background: #fafafa;padding: 11px;border-top: 2px solid #f1f1f1;}
.right div.box h3{margin: 0;}
.right div.box h3 span{color: #b22222;}
.right div.box.others{background: #fafafa;padding: 11px;overflow: hidden;}
.right div.box.others ul{list-style: none;margin: 0;padding: 0;}
.right div.box.others ul li{float: left;width: 100px;color: #b22222;margin: 0 0 0 10px;font-size: 11px;}
.right div.box.hot{padding: 0;border: 0;}
.right div.box.hot a{font-size: 1.9em;z-index:100;color: #413e3e;width: 254px;height: 42px;line-height: 42px;padding: 0 0 0 60px;font-weight: normal;display: block;cursor: pointer;background: url('images/button-bg.gif') no-repeat;position: relative;left: -10px;text-decoration: none;}
.right div.box.hot a span{color: #b22222;}

/* FOOTER STYLES */
.footer{border-top: 2px solid #f1f1f1;text-align: right;padding: 0 0 10px 0;}
.footer ul.nav{list-style: none;margin: 5px 0 0 0;}
.footer ul.nav li{display: inline;margin: 0 5px 0 0;font-size: 12px;}
.footer ul.nav li a{margin: 0 7px 0 0;}
.footer p{margin: 5px 12px 0 0;}
.footer p.copyright{font-size: 9px;}
.footer a{color: #413e3e;}

/* OTHER STYLES */
.clear {	clear: both;}

/* HEADINGS */
h1 {font-size: 1.5em;line-height: 1.5em;margin: 0 0 0.5em 0;padding: 0;font-weight: normal;}
h2 {font-size: 1.3em;line-height: 1.3em;margin: 0 0 0.5em 0;font-weight: bold;}
h3 {font-size: 1.2em;line-height: 1.2em;margin: 0 0 0.5em 0;padding:0;text-decoration: none;}
h4 {font-size: 1.1em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0;}
h5 {font-size: 1.1em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0;}
h6 {font-size: 1em;line-height: 1.3em;margin: 0 0 0.25em 0;padding: 0;}

/* LISTS */
ul {line-height:1.4em;margin: 0 0 1.5em 0;padding: 0;}
ul li {margin: 0 0 0.25em 30px;padding: 0;}
ol {font-size: 1.0em;line-height: 1.4em;margin: 0 0 1.5em 0;padding: 0;}
ol li {font-size: 1.0em;margin: 0 0 0.25em 30px;padding: 0;}
dl {margin: 0 0 1.5em 0;padding: 0;line-height: 1.4em;}
dl dt {font-weight: bold;margin: 0.25em 0 0.25em 0;padding: 0;}
dl dd {margin: 0 0 0 30px;padding: 0;}

/* TEXT */
p {font-size: 1em;margin: 0 0 1.5em 0;padding: 0;line-height:1.4em;}
blockquote {border-left:10px solid #ddd;margin-left:10px;}
pre {font-family: monospace;font-size: 1.0em;}
strong, b {font-weight: bold;}
em, i {font-style:italic;}
code {font-family: "Courier New", Courier, monospace;font-size: 1em;white-space: pre;}
